<!-- header.html -->
<header id="header_wrapper">
    <div class="container">
      <div class="header_box">
        <div class="logo" style="width: 50px;">
          <a href="../../index-en.html"><img src="../../img/logo.png" alt="logo"></a>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="main-nav" class="collapse navbar-collapse navStyle">
            <ul class="nav navbar-nav" id="mainNav">
              <li><a href="../../index-en.html#aboutUs" class="scroll-link">About Us</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../../index-en.html#service" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                  <li>
                    <a href="../../service/kol-en.html" target="_blank">
                      <span>Booking KOLS</span>
                    </a>
                  </li>
                  <li>
                    <a href="../../service/seeding-en.html" target="_blank">
                      <span>Seeding</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li><a href="../../index-en.html#Portfolio" class="scroll-link">Marketing Knowledge</a></li>
              <li><a href="../../index-en.html#clients" class="scroll-link">Clients</a></li>
              <li><a href="../../index-en.html#contact" class="scroll-link">Contact</a></li>
              <li class="language-switch">
                <a href="blog.html" class="lang-flag" title="Switch to Vietnamese">
                  <img src="../../img/vn.png" alt="Vietnamese" />VN
                </a>
              </li>                                   
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
<!-- header.html -->